In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
bbb_df=pd.read_csv('/content/IPL_Ball_by_Ball_2008_2022.csv')
bbb_df['overs'].unique()
#bbb_df.shape

In [ ]:
bbb_df.isna().sum()

In [ ]:
m_df=pd.read_csv('/content/IPL_Matches_2008_2022.csv')
m_df.head()

In [ ]:
m_df.isna().sum()

In [ ]:

"""for i in m_df['Venue']:
  if i=='Dubai International Cricket Stadium':
    m_df['city']='dubai'
  elif i=='Sharjah Cricket Stadium':
    m_df['city']='sharjah'
"""

m_df[m_df['City'].isna()]

In [ ]:
m_df.isna().sum()

In [ ]:
# we have missing margins when their were super over and no results
for i in range(0,len(m_df)):
  if pd.isna(m_df.loc[i]['City']):
    fillna_text=m_df.loc[i]['Venue'].split(' ')[0]
    m_df.iat[i,1]=fillna_text

m_df['City'].isna().sum()

0

In [ ]:
m_df.duplicated().sum()

0

In [ ]:
bbb_df.duplicated().sum()

0

In [ ]:
bbb_df

In [ ]:
bbb_df.info()

##1. From overs 0-19, which over has the most runs scored in, on average?

In [ ]:
bbb_df[(bbb_df['overs']>=0) & (bbb_df['overs']<=19)].head(120)

In [ ]:
df_average_run=bbb_df.groupby(['overs']).mean()['total_run']

In [ ]:
df_overs=bbb_df.groupby(['overs','ballnumber']).agg({'total_run':'mean'}).reset_index()       #  .sort_values(['total_run'],ascending=False)
df_overs

In [ ]:
df_overs=df_overs.groupby(['overs']).agg({'total_run':'sum'}).reset_index()
df_overs

In [ ]:
sns.lineplot(data=df_overs,y="total_run",x='overs')
plt.figure(figsize=(15,7))

# 2. Top 10 umpires, who were part of the most matches

In [ ]:
#df_umpires=pd.DataFrame(m_df.groupby(['Umpire1','Umpire2']).value_counts().reset_index())  #.loc[:,'Umpire1','Umpire2','MatchNumber']
pd.concat([m_df['Umpire1'],m_df['Umpire2']]).value_counts().sort_values(ascending=False).head(10)

In [ ]:
pd.concat([m_df['Umpire1'],m_df['Umpire2']]).value_counts().nlargest(10)#.head(10)

##3. Which team has the highest probability of winning a match given that they had won the toss?

In [ ]:
m_df.info()

In [ ]:
team_toss_win=m_df[m_df['WinningTeam']==m_df['TossWinner']]
team_toss_win=team_toss_win['TossWinner'].value_counts()
team_toss_win

In [ ]:
#x=m_df['WinningTeam'].value_counts()
#x

In [ ]:
y=m_df['TossWinner'].value_counts()
y

In [ ]:
probability=team_toss_win/y
probability

##Ans3.Chennai Super Kings has the highest probability of winning a match given that they had won the toss

In [ ]:
#pd.DataFrame((x-y),columns=['team name','total number of '])
bbb_df.info()

##4. Top 10 most successful bowlers in terms of number of wickets taken

In [ ]:
top_baller=bbb_df.groupby(['bowler']).agg({'isWicketDelivery':'sum'})
top_baller.sort_values('isWicketDelivery',ascending=False).head(10)    #.nlargest(10)

In [ ]:
"""total_matches=pd.DataFrame(pd.concat([m_df['Team1'],m_df['Team2']]).value_counts())
total_matches.columns=['total matches']

total_matches"""

##5. Calculate for each team the number of playoff matches played.

In [ ]:
m_df.shape #SuperOver Team1 Team2

In [ ]:
x=m_df.groupby(['Team1'])['SuperOver'].value_counts()
x=pd.DataFrame(x).rename(columns={'SuperOver': "sum of matches"}).reset_index()
x=x[x['SuperOver']=='Y']
x

In [ ]:
y=m_df.groupby(['Team2'])['SuperOver'].value_counts()

y=pd.DataFrame(y).rename(columns={'SuperOver': "sum of matches"}).reset_index()
y=y[y['SuperOver']=='Y']
y

In [ ]:
pd.merge(left=x,right=y,left_on='Team1',right_on='Team2',how='inner')

##6. On which venue, the team batting second has the most advantage?

In [ ]:
"""m_df.head()
new_df=m_df.groupby(['Team2','Venue']).sum().reset_index()#.agg({'Margin':'mean'})
new_df.groupby(['Team2','Venue']).agg({'Margin':'mean'}).sort_values(by='Margin',ascending=False)"""

In [ ]:
m_df.head()

In [ ]:
m_df_win_by_runs=m_df[m_df['WonBy']=='Runs']
m_df_win_by_runs.groupby(['Venue'])['Margin'].mean()#.head()

In [ ]:
m_df_win_by_wickets=m_df[m_df['WonBy']=='Wickets']
m_df_win_by_wickets.groupby(['Venue'])['Margin'].mean().head()

# ans).Arun Jaitley Stadium

##7. Which batsman in the history of IPL has been caught out the most?

In [ ]:
bbb_df_caught_out=bbb_df[bbb_df['kind']=='caught']
bbb_df_caught_out['fielders_involved'].value_counts()

  ## MS Dhoni

In [ ]:
bbb_df_caught_out
bbb_df_caught_out['bowler'].value_counts()

##8. Which bowler has taken the wicket of the batsman in que no. 7?

##DJ Bravo